# Core app
streamlit
requests
datetime

# LangChain + Groq
langchain
langchain-groq
langchain-community
langchain.document_loaders

# Vector store + embeddings
faiss-cpu
sentence-transformers

# Document processing
pypdf
newspaper3k
lxml_html_clean
trafilatura

# Search
duckduckgo-search
